* {
    font-family: ComicTypo;
    box-sizing: border-box;
    --primary-color: #f5dc00;
    --secondary-color: #fff6a1;
    --link-color: #9c8d00;
    outline: none;
}

html, body, #root {
  height: 100%;
}

body {
    margin: 0;
    font-size: 1.5em;
    background-color: var(--primary-color);
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.apps-bar-container {
    --apps-bar-primary-color: var(--link-color) !important;
    --apps-bar-secondary-color: black !important;
    --apps-bar-text-primary-color: white !important;
    --apps-bar-text-secondary-color: black !important;
}
